@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.col-left {
  @apply w-full md:w-1/2 flex justify-center items-center bg-white;
}

.col-right {
  @apply w-full md:w-1/2 flex flex-col items-center md:items-start justify-center bg-white md:py-12;
}

.right-title {
  @apply text-4xl md:text-6xl font-bold py-12 text-center md:text-left;
}

.auth-block {
  @apply flex flex-col items-center md:items-start justify-start;
}

.auth-title {
  @apply text-3xl font-bold mb-8 cursor-default;
}

.divider {
  @apply flex items-center w-64 my-4;
}

.btn {
  @apply bg-black hover:bg-neutral-700 duration-200 ease-in-out font-bold text-white px-4 py-2 rounded-full cursor-pointer;
}

@layer utilities {
  .shadow-custom {
    box-shadow: 0px 0px 6px 0px grey;
  }
}
