@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}


  .col-left {
    @apply w-1/2 flex items-center justify-center bg-white;
  }

  .col.right {
    @apply h-dvh w-dvh flex flex-col bg-white py-[3rem];
  }

  .btn {
    @apply bg-black hover:bg-neutral-700 duration-200 ease-in-out font-bold text-white px-4 py-2 rounded-full cursor-pointer ;
}



